[Unit]
Description=Elemental Register Install via Systemd
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/etc/rancher/elemental/agent/elemental_connection.json

[Install]
WantedBy=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/proxy
Type=oneshot
ExecStart=/usr/sbin/elemental-register --emulate-tpm --debug --config-path /etc/elemental/config.yaml --state-path /etc/elemental/state.yaml --install --no-toolkit
ExecStartPost=/usr/bin/cp /var/lib/elemental/agent/elemental_connection.json /etc/rancher/elemental/agent
Restart=on-failure
RestartSec=10

